<h4>Лабораторная работа №8</h4>
<h4> Условие:Написать  программу, определяющую, самую длинную монотонно возрастающую последовательность<br>Если таких отрезков нет,то соответствующее сообщение. Так же вывести все последовательности
</h4>
<%= form_tag('/tasks/answer', :method => 'get') do %>
    <%= label_tag('Введите последовательность:') %>
    <%= text_field_tag(:n) %> <br/>
    <%= submit_tag('Результат')%>
<% end %>
